@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* global variables */
:root {
    --turquoise-color: rgb(0, 214, 197);
    --turquoise-mid-transparent: rgba(0, 214, 197,0.4);
    --dark-bg-mid-transparent: rgba(0,0,0,0.4);
}

html{
    scroll-behavior: smooth !important;
}

body {
    background: linear-gradient(var(--turquoise-color), black);
    background-attachment: fixed;
    font-family: 'Alata', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    position: relative;
}

.go_top {
    position:fixed;
    padding: 5px;
    bottom: 40px;
    right: 20px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}

.go_top:hover {
    background-color: var(--turquoise-mid-transparent);
}

header {
    background-color: var(--dark-bg-mid-transparent);
    position: relative;
    padding: 20px 30px;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_icons {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 20px;
}

.logo h2 {
    margin-bottom: 10px;
}

.logo {
    gap: 10px;
    justify-content: center;
}

.social_icons li {
    width: 1.5rem;
    height: 1.5rem;
}

.social_icons a {
    display: block;
    width: 100%; 
    height: 100%;
}

.icons {
    width: 100%;
}

.website_links {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background-color: var(--dark-bg-mid-transparent);
    padding-top: 10px;
    padding-left: 20px;
}

.website_links li {
    margin-bottom: 10px;
}

li {
    list-style: none;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--turquoise-color);
}

/* Main */

main {
    padding: 50px 10vw;
    flex: 1;
}

main > div > section {
    margin-bottom: 100px;
}

aside > ul {
    margin-top: 20px;
}

aside li button {
    background-color: transparent;
    border: none;
    color: white;
}

.skill {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 5px;
    margin-bottom: 10px;
}

.skill > div {
    width: 200px;
    height: 30px;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 3px 5px var(--dark-bg-mid-transparent);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.skill > div > p {
    display: none;
    padding-left: 10px;
}

.skill > div:hover > p {
    display: block;
    cursor: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: var(--dark-bg-mid-transparent);
}

.skill > div > div {
    background-color: red;
    height: 100%;
    border-radius: 10px;
}


main h1 {
    font-size: 2rem;
}

main p {
    font-size: 1.2rem;
}

.header_title {
    margin-bottom: 10px;
}

/* Introduction */
.introduction h1 {
    margin-top: 10px;
    font-size: 5rem;
    transition: .2s;
    display: inline;
}

.introduction > p {
    font-size: 1.8rem;
}

.introduction h1:hover {
    font-size: 5.5rem;
}

.header_name_container {
    min-height: 170px;
}

/* About me */
.image_container {
    margin-top: 20px;
}

.image_container img {
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 10px var(--dark-bg-mid-transparent);
}

img {
    width: 100%;
    height: 100%;
}

button i {
    transition: .5s;
}

aside button i:hover {
    color: red;
}

/* carousel */

.carousel {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.carousel_buttons {
    background-color: var(--dark-bg-mid-transparent);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel_buttons button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px;
}

.carousel_buttons button:not(.disabled):hover {
    color: var(--turquoise-color);
}

.carousel_item {
    display: none;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: relative;
}

.project_info {
    display: none;
    background-color: rgba(0,0,0,0.7) ;
    padding: 10px 20px;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}

.project_info > div:not(div:first-of-type) {
    margin-top: 10px;
}

.info_container ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info_container ul li::before {
    content: "- ";
}

.info_container h3 {
    color: var(--turquoise-color)
}

.inline-info {
    display: flex;
    gap: 5px;
}

.carousel_item:hover .project_info {
    display: block;
    color: white;
}

.carousel_item_visible {
    display: block;
    animation: fadeVisible .5s; 
}

.mouseover_scale_container, .carousel {
    max-width: 700px;
    height: 60vw; 
    max-height: 565px;
} 

.disabled {
    color: transparent !important;
    cursor: default !important;
}

footer {
    text-align: center;
    padding: 20px 0;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Media queries */
@media only screen and (min-width: 700px) {

    :root {
        font-size: 20px;
    }

    header {
        padding: 20px 50px;
    }

    .website_links {
        display: block;
        position: static;
        width: fit-content;
        padding: 0;
        background: transparent;
        transform: translateY(0);
    }

    .website_links ul {
        display: flex;
        gap: 25px;
    }

    .hamburger_icon {
        display: none !important;
    }

    header .skill_section {
        display: none;
    }

    main {
        /* padding: 20px 20vw; */
        padding: 50px;
        /* justify-content: space-between; */
        display: flex;
        gap: 50px;
    }

    main > aside {
        order: 1;
        flex: 1;
    }

    main > div { 
        order: 2;
        flex: 3;
    }
}

@media only screen and (min-width: 1000px) {
    .skill {
        flex-direction: row;
        gap: 15px;
    }

    .skill > div {
        order: 1;
    }

    .skill > p {
        order: 2;
    }
}
/* Keyframes */
@keyframes fadeVisible
{
    from { opacity: 0;}
    to { opacity: 1;} 
}